#inner{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: orange;
    border-radius: 50%;
    margin-top: 20px;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye, .right-eye{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    left: 100px;
    top: 100px;
}

.right-eye{
    left: 250px;
}