div{
    height: 150px;
    width: 150px;
    background-color: green;
    margin: 10px;
    display: inline-block;
}

#div3 {
    position: static;
    top: 100px;
    right: 100px;
    background-color: yellow;
}

#div23 {
    position: relative;
    top: 150px;
    left: 150px;
    background-color: yellow;
}

#div33 {
    position:absolute;
    top: 150px;
    left: 150px;
    background-color: yellow;
}

#div43 {
    position:fixed;
    top: 150px;
    left: 150px;
    background-color: yellow;
}